doctype html
- var title = ''

block vars 
    
html.no-js(lang="")
  head
    meta(charset="utf-8")
    meta(name="description", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1, minimal-ui")
    title #{title}
    // link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
    // Place favicon.ico and apple-touch-icon.png in the root directory
    // build:css styles/main.css
    link(rel="stylesheet", href="styles/vendor.css")
    link(rel="stylesheet", href="styles/main.css")
    // endbuild
    // build:js scripts/vendor/modernizr.js
    // endbuild
  body
    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-MQXWTC"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MQXWTC');</script>
    <!-- End Google Tag Manager -->
    
    block content
    script(src="scripts/main.concat.js")
    block scripts
